.searchResultImg {
    width: 100%;
    position: absolute;
    top:0;  
}
.searchResult {
    position: relative;
    width: 100%;
    height: 100%;
}
.searchResult > img:nth-child(2){
    opacity: 0;
}


.searchResult > img:nth-child(2):hover{
    opacity: 1;
    transition: all 3s ease;
} 

